/* BODY-ROOT */ 
body{
    overflow-x: hidden;
    background-color: #d8dce09f;
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:link:visited {
 text-decoration: none 
}

/* -----  HEADER-ROOT ----- */ 
header {
    display: flex;
    width: 100%;
    height: 140px;
    background-color: hsla(146, 69%, 63%, 0.226);
    border-bottom: 8px solid rgb(24, 189, 38);
}


header .nav_hotel  {
    color: rgb(48, 53, 43);
    padding-top: 5vh;
}

header .nav_hotel li:hover a:hover {
    color: black;
    border: 1px solid black;
    background-color: hsla(140, 89%, 48%, 0.473);
    border-radius: 8px;
    font-size: 1.2rem;
    transition:  0.5s;
    filter: drop-shadow(-5px 6px 1px hsla(0, 7%, 3%, 0.151));
    text-align: center;

}


nav {
    display: flex;
}



.logo_hotel {
    background-image: url(../images/logo_hotel.png);
    background-repeat: no-repeat;
    min-width: 115px;
    min-height: 114px;
    margin: 10px;
    padding: 5px;
    filter: drop-shadow(-5px 6px 1px rgb(100, 98, 98));
    position: relative;
    left: 15px;
    display:block;
    flex-wrap: nowrap;
}

#logo {
    margin: 0;
    padding: 0;
}

#naveHotel nav {
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
}

.nav_hotel {
    display: flex;
    flex-direction: row;
    list-style:none;
    position: relative;
    text-align: center;
}

.nav_hotel li a {
    margin-left: 1vw;
    padding: 0.5vw;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-style:normal;
    font-size: 1.2rem;
    font-weight: 600;
}

a:link {
    text-decoration: none;
}


.nav_atajos {
    font-size: 1.1rem;
    margin-right: 0.5vw;
    color: hsla(118, 36%, 82%, 0.39);
}


/* -----  MAIN-ROOT ----- */ 
.info_adicional{
    text-align: start;
    width: 100%;
    margin: 50px 0 50px 50px;
}
/* -----  BARRAS-INDEX ----- */ 

.container{
    background-color: rgba(255, 255, 255, 0.185);
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    width: 100%;
}


.hotel{
    justify-content: start;
    align-items: start;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 36px;
    color: rgb(48, 53, 43);
}
.res_calif{
    display: flex;
    align-items: center;
    
}
.clasif_span{
    border-left: thick solid #adb5bd;
    border-width:2px;
    height:45px;
    position: relative;
    margin: 10px;
    
}
.btn_consultas{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    
}

.btn_consultas button{
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: none;
}
.btn_consultas button:hover{
    border: 1px solid black;
    background-color: hsla(140, 89%, 48%, 0.473);
    border-radius: 8px;
    transition: all 0.5s ease;
}


/* -----  BODY ----- */

.titulo {
    margin-top: 9vh;
    text-align: center;
    background-color: #e4e6e785;
    width: 98%;
    padding-bottom: 2vh;
}

.titulo h1 {
    padding-top: 1vh;
}


.titulo p {
    font-weight: 900;
    font-size: 1.2rem;
}




/* -----  CARROUSELL-INDEX ----- */ 

.carrousell {
    margin-top: 5vh;
    border-top: 5px solid rgb(24, 189, 38);
    border-bottom: 5px solid rgb(24, 189, 38);
    width: 98%;
}

.carrousel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px 0px;
}

.carrousel-item {
    min-width: 800px;
    max-width: 1500px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.carrousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrousel-item:hover {
    transform: scale(1.2);
    transition-duration:2s;
}




/* -----  FOOTER-ROOT ----- */ 

.cheecking_home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.185);
    color: rgb(48, 53, 43);
    font-size: 1rem;
    text-align: center;
}
.contactos_home{
    display: inline-flex;
}
.contac_col{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}


footer {
    background-color: rgba(255, 255, 255, 0.185);
}


footer h2 {
    margin-top: 2vh;
}

footer span {
    margin-bottom: 2vh;
}

.info_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    margin: 50px 0 50px 0;
}
.info_footer h2{
    font-size: 25px;
    color: rgb(48, 53, 43);
}
.contacto_footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}
.media_footer{
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 1vw;
}


/* ----- SERVICIOS-QUIENES SOMOS ----- */


.serviciomain {
margin-left: 2.5vw;
}

.service {
    margin-top: 6vh;
    display: flex;
    width: 98%;
    justify-content: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    color: rgb(48, 53, 43);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.185);
}

.service img {
    width: 900px;
    height: auto;
    align-items: center;
}

#contenedor {
    width: 23%;
    text-align: center;
    display: inline-block;
    justify-items: center;
    margin: 2%;
}

#contenedor p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* -----  RESUMEN DE SERVICIOS-QUIENES SOMOS  ----- */


.resumen_grilla {
    margin-top: 5vh;
    width: 98%;
    padding: 3vh;
    padding-left: 6vw;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.185);
}
#cuadros {
    border: 1px solid black;
    border-radius: 5px;
    width: 20vw;
    height: 30vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    color: rgb(48, 53, 43);
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(238, 226, 226, 0.26);
}

#contenedor {
    width: 23%;
    text-align: center;
    display: inline-block;
    justify-items:center ;
    margin: 2%;
}

.service img {
    width: 700px;
    height: auto;
    border: 2px solid black;

}

#ico {
    padding: 0.5vw;
    width: 4vw;
    margin: 1%;
}

/*BOTON PARA VISUALIZAR MAPA*/

.vistaHab{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.vistaHab button{
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.vistaHab button:hover{
    background-color: #104C97;
    color: #dee2e6;
    transition: all 0.5s ease;
}

/*CONTENEDOR DEL MAP E IMAGENES DE CADA UBICACION*/

#contain_hab_map{
    display: none;
    transition: all 3s;
}
#contain_hab_map.visible{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*SECCION DEL MAPA*/

.mapa_habitacion{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease
}
.mapa_habitacion.visible{
    opacity: 1;
    visibility: visible;
    position: relative;
    margin-top: 40px;
    flex: 6;
    display: flex;
    justify-content: right;
}

.img_plano{
    object-fit: cover;
    z-index: 1;
    width: 500px;
    height:400px;
}

.ubi-1 {
    top: 80px; 
    left: 70%; 
}


.ubi-2 {
    top: 150px; 
    left: 85%; 
}


.ubi-3 {
    top: 310px; 
    left: 70%; 
}

.cir_map{
    position: absolute;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #E0FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

/*SECCION DE CARDS CON IMAGENES Y DESCRIPCIONES */

.img_habitacion{
    flex: 5;
    flex-direction: column;
    width: 40%;
    margin-top: 4%;
}

.hab_map_container{
    display: flex;
    margin-bottom: 10px;
}

.img_dormitorio {
    display: none;
    object-fit: cover;
    z-index: 50;
    position: relative;
    width: 400px;
    height:300px;
    margin-right: 20px;
    border-radius: 5px;
}

.map_hab_cama {
    flex-grow: 1;
    margin-left: 10px; 
    display: none;
}

.map_hab_detalle {
    display: flex;
    margin-bottom: 10px;
    min-height: 20px;
    max-height: 50px;
    background-color: #E6E6FA;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    overflow: hidden;
    width: 80%;
}

.map_hab_detalle img {
    margin-right: 10px; 
}

.map_hab_detalle p {
    margin: 0; 
}

#card_cama{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_cama.visible {
    opacity: 1;
    visibility: visible;
}

#card_bath{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_bath.visible {
    opacity: 1;
    visibility: visible;
}

#card_plac{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_plac.visible{
    opacity: 1;
    visibility: visible;
}

.map_hab_cama {
    flex-grow: 1;
    margin-left: 10px; 
    display: none;
}


/* ---- FORMULARIO-CONTACTO ---- */

#contacto-formulario {
    margin: 3vw;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    padding-top: 2vh;
    
}



form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.185);
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    padding: 3vw;
    width: 20vw;
    height: 3vh;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    background-color: #85d6ae75;
    border: 0.1px solid black;
}

    input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}

select {
    width: 18vw;
    height: 3vh;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    background-color: #85d6ae75;
    border: 0.1px solid black;

}

textarea {
    width: 30vw;
    height: 25vh;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    background-color: #85d6ae75;
    border: 0.1px solid black;
}

#condiciones {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#condiciones label {
    padding-left: 10vw;
    margin-right: 0;
}

#condiciones input {
    padding-right: 10vw;
    margin-right: 0;
}



input[type="checkbox"]:disabled:checked {
    appearance: none;
    background-color: #85d6ae75;
}



button {
    width: 40vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    background-color: #85d6ada1;
    border: 0.1px solid black;
    filter: drop-shadow(-5px 6px 1px rgba(100, 98, 98, 0.445));
}

button:hover {
    background-color: hsla(140, 89%, 48%, 0.473);
}

/* ---- DONDE ENCONTRARNOS ---- */

.ubi-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.185);
}

.ubi-mapa h3 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    color: rgb(48, 53, 43);
    font-size: 2rem;
}

.ubi-mapa p {
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    color: rgb(48, 53, 43);
    font-size: 1rem;
    font-weight: 600;
    margin-right: 2vw;
}

.mapatexto {
    width: 50vw;
    box-sizing: content-box;
}



/* ---- HABITACIONES ---- */

.habitaciones-titulo {
    margin: 2vh;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    padding-top: 2vh;
}

hr {
    background-color: rgb(24, 189, 38);
    width: 98%;
    height: 5px;
}

.habita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.185);
    width: 98%;
}

.habita h3 {
    font-size: 2rem;
}


.habita p {
    font-size: 1.2rem;
}

.parrafo-habitaciones {
    width: 65vw;
    margin-top: 4vh;
}

.parrafo-habitaciones {
    align-self: center;
    font-size: 2rem;
    margin-top: 2vh;
}



.armador {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.armador ul li{
    margin-right: 3vw;
    font-size: 1.1rem;
    padding-top: 4vh;
    list-style: inside;
}

.armador p {
    margin-right: 2vw;
}

.fotohab {
    width: 700px;
    border: 1px solid black;
}

.fototira {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 242, 242, 0.363);
}

#fotosola {
    padding: 1vw;
    background-color: rgba(243, 242, 242, 0.363);
}

.fototira img {
    margin-top: 1vh;
}



@media (min-width: 481px) and (max-width: 980px) {
    

header a {
    color: rgb(48, 53, 43);
    padding-top: 1vh;
    margin: 0.5vw;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-weight: 500;
    font-style:normal;
    font-variation-settings:
    "wdth" 100;
}

.nav_hotel {
    padding-left: 2vw;
}


.nav_hotel li {
    padding-top: 1.0vh;
    margin: 0.9vh;
    align-items: center;
    justify-content: flex-start;
}

.nav_hotel a {
    font-size: 1.1rem;
    flex-wrap: wrap;
    text-align: center;
}
}


@media (min-width: 380px) and (max-width: 520px) {
    
 

}

/*Formulario de contacto*/


.container_form{
    box-sizing: border-box;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    font-family: "DM Sans", sans-serif ;
    display: flex;
    justify-content: center;
}


.form_contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.form_contacto h2{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.titulo_form{
    grid-column: 1;
}


.formulario_grupo_input{
    position: relative;


}


.formulario_input{
    width: 100%;
    background-color: #cad2c5;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px 0 10px;
    transition: .3s ease all;
}


.formulario_input:focus{
    border: 3px solid #104C97;
    outline: none;
    box-shadow: 30px 0px 30px rgb(163, 163, 163, 0.4);
}


.formulario_input_error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;


}


.formulario_input_error_activo{
    display: block;
}


.formulario_validacion_estado_cheeck{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100px;
    font-size: 16px;
    opacity: 0;
}

.formulario_validacion_estado_cancel{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100px;
    font-size: 16px;
    opacity: 0;
}


.formulario_cheekbox{
    display: inline-block;
    justify-content: end ;
}


.form_control_terminos,
.form_control_error,
.formulario_btn_enviar {
    grid-column: span 2;
}


.form_control_error{
    height: 45px;
    line-height: 45px;
    background-color: #e76f51;
    padding: 0 15px;
    border-radius:3px;
    display: none;
}


.form_control_error_activo{
    display: block;
}


.formulario_btn_enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formulario_btn{
    height: 35px;
    line-height: 35px;
    width: 15%;
    border: none;
    font-weight: bold;
    background-color: #2f3e46;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;


}


.formulario_btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}


.formulario_mensaje_exito{
    font-size: 14px;
    color: #228B22;
    margin-top: 20px;
    display: none;
}


.formulario_mensaje_exito_activo{
    display: block;
}


.form_control_correcto .formulario_validacion_estado_cheeck{
    opacity: 1;
}

.form_control_correcto .formulario_label{
    color: #228B22;
}

.form_control_correcto .formulario_input{
    border: 3px solid #228B22;
}


.form_control_incorrecto .formulario_validacion_estado_cancel{
    opacity: 1;
}

.form_control_incorrecto .formulario_label{
    color: #e76f51;
    opacity: 1;
}

.form_control_incorrecto .formulario_input {
    border: 3px solid #e76f51;
}



@media only screen and (max-width:859px) and (min-width:250px) {

    

    #naveHotel nav {
        justify-content: center;
        align-items: center;
        padding-left: 2vw;
    }



    .nav_hotel li a {
        align-items: center;
        width: 1vw;
        font-family: "Inconsolata", monospace;
        font-optical-sizing:auto ;
        font-style:normal;
        font-size: 1rem;
        font-weight: 600;
    }
   
   
    .form_contacto{
        grid-template-columns: 1fr;
    }


    .form_control_terminos,
    .form_control_error,
    .formulario_btn_enviar {
        grid-column: 1;
    }


    .formulario_btn{
        width: 100%;
    }
}

    
    @media only screen and (max-width:360px){
        
        #menu li.doble { height:45px; }
            
    }