/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.logo_hotel {
    background-image: url(../images/logo_hotel.png);
    background-repeat: no-repeat;
    min-width: 110px;
    min-height: 109px;
    margin: 10px;
    padding: 5px;
    filter: drop-shadow(-5px 6px 1px rgb(100, 98, 98));
    position: relative;
    left: 15px;
    display:block;
    flex-wrap: nowrap;
}

body {
    font-family: Mon;
    background-color: #d8dce09f;
    color:white;
}

.tablero {
    margin-top: 180px;
}



.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index{
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 122px;
    background-color: hsla(146, 69%, 63%, 0.226);
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav{height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #0c6845;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #10421f;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 70px;
    background-color: #10421f;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #21d472;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #010102;
    color:#26e414
}

table a {
    padding: 8px;
    margin:4px;
    background-color: #21d472;
    color: #1a4b14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

table a:hover {
    background-color: #010102;
    color:#26e414
}

form a {
    color: #cccccc;
}