
body{
    overflow-x: hidden
}


header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: rgb(194, 224, 207);
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 20px;
    border-bottom: 8px solid rgb(221, 220, 220);
}

header .logo_hotel {
    background-image: url(../images/logo_hotel.png);
    background-repeat: no-repeat;
    width: 110px;
    height: 117px;
    margin: 5px;
    filter: drop-shadow(-5px 6px 1px rgb(100, 98, 98));
}


#naveHotel {
    margin-left: 0px;
    position: fixed;
    left: 120px;
    top: 30px;
}

.nav_hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
}

.nav_hotel li {
    margin: 6px;
    align-items: center;
    justify-content: flex-start;
}

.info_adicional{
    text-align: start;
    width: 100%;
    margin: 50px 0 50px 50px;

}

.container{
    background-color: white;
    font-family: "DM Sans", sans-serif;
}

.hotel{
    justify-content: start;
    align-items: start;
    font-size: 36px;
    color: #104C97;
}

.res_calif{
    display: flex;
    align-items: center;
    
}
.clasif_span{
    border-left: thick solid #adb5bd;
    border-width:2px;
    height:45px;
    position: relative;
    margin: 10px;
    
}

.btn_consultas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_consultas button{
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.btn_consultas button:hover{
    background-color: #104C97;
    color: #dee2e6;
    transition: all 0.5s ease;
}

.img_hotel_home{
    display: flex;
    width: 100%;
    margin-top: 50px;
    
}

.img_hotel_home div{
    width: 700px;
    overflow: hidden;
    margin: 5px 5px 20px;
}
.cheecking_home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #dee2e6;
    color: rgb(82, 89, 97);
    font-size: 16px;
}

.contactos_home{
    display: inline-flex;
}
.contac_col{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.info_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    margin: 50px 0 50px 0;
}

.info_footer h2{
    font-size: 25px;
    color: #104C97;
}

.contacto_footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
}

.media_footer{
    display: flex;
    flex-direction: row;
    padding: 0%;
}