/* BODY-ROOT */ 
body{
    overflow-x: hidden;
    background-color: #d8dce09f;
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* -----  HEADER-ROOT ----- */ 
header {
    display: flex;
    width: 100%;
    height: 140px;
    background-color: hsla(146, 69%, 63%, 0.226);
    border-bottom: 8px solid rgb(24, 189, 38);
}

header a {
    color: rgb(48, 53, 43);
    padding-top: 2vh;
    margin: 1vw;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-weight: 700;
    font-style:normal;
    font-variation-settings:
    "wdth" 100;
}

header .nav_hotel a:hover {
    color: black;
    border: 1px solid black;
    background-color: hsla(140, 89%, 48%, 0.473);;
    border-radius: 8px;
    padding: 0.8vh;
    font-size: 2.6vh;
    transition:  0.5s;
    font-weight:bold;
    filter: drop-shadow(-5px 6px 1px hsla(0, 7%, 3%, 0.151));
}
nav {
    display: flex;
}

.logo_hotel {
    background-image: url(../images/logo_hotel.png);
    background-repeat: no-repeat;
    min-width: 115px;
    min-height: 114px;
    margin: 10px;
    padding: 5px;
    filter: drop-shadow(-5px 6px 1px rgb(100, 98, 98));
    position: relative;
    left: 15px;
    display:block;
    flex-wrap: nowrap;
}

#logo {
    margin: 0;
    padding: 0;
}


.nav_hotel {
    display: flex;
    flex-direction: row;
    list-style:none;
    position: relative;
}
.nav_hotel a {
    font-size: 1.5rem;
}
.nav_hotel li {
    padding-top: 1.7vh;
    margin: 1vh;
    align-items: center;
    justify-content: flex-start;
}
.nav_atajos {
    font-size: 1.1rem;
    margin-right: 1vw;
    color: hsla(118, 36%, 82%, 0.39);
}
#naveHotel {
    margin-left: 0px;
    position:relative;
    margin: 2vh;
    padding-left: -20vw;
    
}

/* -----  MAIN-ROOT ----- */ 
.info_adicional{
    text-align: start;
    width: 100%;
    margin: 50px 0 50px 50px;
}
/* -----  BARRAS-INDEX ----- */ 

.container{
    background-color: rgba(255, 255, 255, 0.185);
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    width: 100%;
}


.hotel{
    justify-content: start;
    align-items: start;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 36px;
    color: rgb(48, 53, 43);
}
.res_calif{
    display: flex;
    align-items: center;
    
}
.clasif_span{
    border-left: thick solid #adb5bd;
    border-width:2px;
    height:45px;
    position: relative;
    margin: 10px;
    
}
.btn_consultas{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    
}

.btn_consultas button{
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: none;
}
.btn_consultas button:hover{
    border: 1px solid black;
    background-color: hsla(140, 89%, 48%, 0.473);
    border-radius: 8px;
    transition: all 0.5s ease;
}


/* -----  BODY ----- */

.titulo {
    margin-top: 9vh;
    text-align: center;
    background-color: #e4e6e785;
    width: 98%;
    padding-bottom: 2vh;
}

.titulo h1 {
    padding-top: 1vh;
}


.titulo p {
    font-weight: 900;
    font-size: 1.2rem;
}




/* -----  CARROUSELL-INDEX ----- */ 

.carrousell {
    margin-top: 5vh;
    border-top: 5px solid rgb(24, 189, 38);
    border-bottom: 5px solid rgb(24, 189, 38);
    width: 98%;
}

.carrousel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px 0px;
}

.carrousel-item {
    min-width: 800px;
    max-width: 1500px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.carrousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrousel-item:hover {
    transform: scale(1.2);
    transition-duration:2s;
}



/* ----- CHECKIN-INDEX ----- */

.cheecking_home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f1f3f5;
    color: rgb(82, 89, 97);
    font-size: 16px;
}
.contactos_home{
    display: inline-flex;
}
.contac_col{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

/* -----  FOOTER-ROOT ----- */ 
.info_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    margin: 50px 0 50px 0;
}
.info_footer h2{
    font-size: 25px;
    color: #104C97;
}
.contacto_footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
}
.media_footer{
    display: flex;
    flex-direction: row;
    padding: 0%;
}


/* ----- SERVICIOS-QUIENES SOMOS ----- */

.service {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

.service img {
    width: 500px;
    height: auto;

}

#contenedor {
    width: 23%;
    text-align: center;
    display: inline-block;
    justify-items:center ;
    margin: 2%;
}

/* -----  RESUMEN DE SERVICIOS-QUIENES SOMOS  ----- */


.resumen_grilla {
    margin-top: 7%;
    margin-left: 5%;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
#cuadros {
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

#contenedor {
    width: 23%;
    text-align: center;
    display: inline-block;
    justify-items:center ;
    margin: 2%;
}

.service img {
    width: 500px;
    height: auto;

}

#ico {
    width: 50px;
    margin: 2%;
}

/*BOTON PARA VISUALIZAR MAPA*/

.vistaHab{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.vistaHab button{
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.vistaHab button:hover{
    background-color: #104C97;
    color: #dee2e6;
    transition: all 0.5s ease;
}

/*CONTENEDOR DEL MAP E IMAGENES DE CADA UBICACION*/

#contain_hab_map{
    display: none;
    transition: all 3s;
}
#contain_hab_map.visible{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*SECCION DEL MAPA*/

.mapa_habitacion{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease
}
.mapa_habitacion.visible{
    opacity: 1;
    visibility: visible;
    position: relative;
    margin-top: 40px;
    flex: 6;
    display: flex;
    justify-content: right;
}

.img_plano{
    object-fit: cover;
    z-index: 1;
    width: 500px;
    height:400px;
}

.ubi-1 {
    top: 80px; 
    left: 70%; 
}


.ubi-2 {
    top: 150px; 
    left: 85%; 
}


.ubi-3 {
    top: 310px; 
    left: 70%; 
}

.cir_map{
    position: absolute;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #E0FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

/*SECCION DE CARDS CON IMAGENES Y DESCRIPCIONES */

.img_habitacion{
    flex: 5;
    flex-direction: column;
    width: 40%;
    margin-top: 4%;
}

.hab_map_container{
    display: flex;
    margin-bottom: 10px;
}

.img_dormitorio {
    display: none;
    object-fit: cover;
    z-index: 50;
    position: relative;
    width: 400px;
    height:300px;
    margin-right: 20px;
    border-radius: 5px;
}

.map_hab_cama {
    flex-grow: 1;
    margin-left: 10px; 
    display: none;
}

.map_hab_detalle {
    display: flex;
    margin-bottom: 10px;
    min-height: 20px;
    max-height: 50px;
    background-color: #E6E6FA;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    overflow: hidden;
    width: 80%;
}

.map_hab_detalle img {
    margin-right: 10px; 
}

.map_hab_detalle p {
    margin: 0; 
}

#card_cama{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_cama.visible {
    opacity: 1;
    visibility: visible;
}

#card_bath{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_bath.visible {
    opacity: 1;
    visibility: visible;
}

#card_plac{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#card_plac.visible{
    opacity: 1;
    visibility: visible;
}

.map_hab_cama {
    flex-grow: 1;
    margin-left: 10px; 
    display: none;
}


/* ---- FORMULARIO-CONTACTO ---- */

form {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    margin: 3vh;
    display: flex;
    flex-direction: column;

}

#contacto-formulario {
    text-align: center;
    margin-top: 3vh;
    
}


/* ---- HABITACIONES ---- */

.habitaciones-titulo {
    margin: 2vh;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing:auto ;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(48, 53, 43);
    padding-top: 2vh;
}

hr {
    background-color: rgb(24, 189, 38);
    width: 98%;
    height: 5px;
}

.habita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.185);
    width: 98%;
}

.habita h3 {
    font-size: 2rem;
}


.habita p {
    font-size: 1.2rem;
}

.parrafo-habitaciones {
    width: 65vw;
    margin-top: 4vh;
}

.parrafo-habitaciones ul li {
    align-self: center;
    font-size: 2.2rem;
    margin-top: 2vh;
}



.armador {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.armador ul li{
    margin-right: 3vw;
    font-size: 1.2rem;
    padding-top: 4vh;
    list-style:inside ;
}

.armador p {
    margin-right: 2vw;
}

.fotohab {
    width: 28vw;
    border: 1px solid black;
}

.fototira {
    display: flex;
    flex-direction: column;
}

.fototira img {
    margin-top: 1vh;
}